/* Estilos específicos para dispositivos móveis com largura máxima de 768 pixels */
@media screen and (max-width: 800px) {
    body {
        min-height: auto;
        padding: 0;
        font-size: 12px;
    }

    header {
        width: 70%;
        margin-left: 25%;
    }

    header p {
        font-size: 12px;
        margin-left: 25%;
        padding: 0;
    }

    header h1 {
        font-size: 4vw; /* Tamanho de fonte responsivo */
        /* ... outros estilos ... */
    }

    h5 {
        font-size: 13px;
    }

    .typing-text {
        margin-left: 25%;
        font-size: 14px;
    }

    .profile img {
        max-width: 100%; /* Manter a largura máxima da imagem em relação ao contêiner */
        height: auto; /* Mantenha a altura automática para manter a proporção da imagem */
        width: 150px; /* Defina a largura desejada para a imagem */
    }

    nav {
        width: 25%;
        padding: 15px;
        height: 100%;
        overflow-y: auto;
    }

    section {
        width: 70%;
        margin-left: 30%;
        margin: 10px 0; /* Você pode ajustar essa margem conforme necessário */
        padding: 10px;
    }

    .card {
        margin-left: 25%;
        width: 70%;
        max-width: none; /* Remova a largura máxima */
        height: auto;
    }

    /* Certifique-se de que cada card ocupe uma linha inteira */
    .col-md-3 {
        width: 70%;
        margin-bottom: 15px; /* Adicione um espaçamento entre os cards */
    }

    .custom-btn {
        width: 70%;
        padding: 5px 15px; /* Reduza o preenchimento para torná-los menores */
        font-size: 12px; /* Reduza o tamanho da fonte */
    }
}
