/* Estilos específicos para dispositivos móveis com largura máxima de 768 pixels */
@media screen and (max-width: 800px) {
    body {
        min-height: auto;
        padding: 0;
        font-size: 12px;
    }

    header {
        width: 70%;
        margin-left: 25%;
    }

    header p {
        font-size: 12px;
        padding: 0;
    }

    header h1 {
        font-size: 4vw; /* Tamanho de fonte responsivo */
        width: 80%; /* Defina uma largura menor para o elemento h1 */
        margin: 0 auto; /* Centralize o elemento horizontalmente */
        padding-right: 10px;
    }

    h5 {
        font-size: 13px;
    }

    .typing-text {
        margin-left: 25%;
        font-size: 14px;
    }

    .profile img {
        max-width: 90%; /* Aumente a largura máxima da imagem para 90% */
        height: auto; /* Mantenha a altura automática para manter a proporção da imagem */
        width: auto; /* Redefina a largura para automática */
        margin: 0 auto; /* Centralizar a imagem horizontalmente */
    }

    nav {
        width: 25%;
        padding: 15px;
        height: 100%;
        overflow-y: auto;
    }

    section {
        width: 70%;
        margin-left: 0; /* Redefina a margem esquerda para 0 para evitar sobreposição */
        margin-right: 0; /* Redefina a margem direita para 0 */
        padding: 20px;
    }

    section img {
        max-width: 100%; /* Reduz a largura da imagem para caber na largura da section */
        height: auto; /* Mantém a proporção da imagem */
    }

    .card {
        margin-left: 25%;
        width: 70%;
        height: auto;
    }

    /* Certifique-se de que cada card ocupe uma linha inteira */
    .col-md-3 {
        width: 100%; /* Defina a largura para 100% para um card por linha */
        margin-bottom: 15px; /* Adicione um espaçamento entre os cards */
    }

    .custom-btn {
        width: 70%;
        padding: 5px 15px; /* Reduza o preenchimento para torná-los menores */
        font-size: 12px; /* Reduza o tamanho da fonte */
    }
}
