/* Estilos específicos para dispositivos móveis com largura máxima de 768 pixels */
@media screen and (max-width: 800px) {
    body {
        min-height: auto;
        padding: 0;
        font-size: 12px;
    }

    header {
        margin-left: 25%;
    }

    header p {
        font-size: 12px;
        margin-left: 25%;
        padding: 0;
    }

    .typing-text {
        margin-left: 25%;
        font-size: 14px;
    }

    nav {
        width: 25%;
        padding: 15px;
        height: 100%;
        overflow-y: auto;
    }

    section {
        width: 100%;
        margin-left: 30%;
        margin: 10px 0; /* Você pode ajustar essa margem conforme necessário */
        padding: 10px;
    }

    .card {
        margin-left: 25%;
        width: 100%;
        max-width: none; /* Remova a largura máxima */
        height: auto;
    }

    /* Certifique-se de que cada card ocupe uma linha inteira */
    .col-md-3 {
        width: 100%; /* Defina a largura para 100% para uma única coluna por linha */
        margin-bottom: 15px; /* Adicione um espaçamento entre os cards */
    }

    .custom-btn {
        width: auto; /* Defina a largura automática para que se ajustem ao conteúdo */
        padding: 5px 15px; /* Reduza o preenchimento para torná-los menores */
        font-size: 12px; /* Reduza o tamanho da fonte */
    }
}
