body {
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    background-color: #e7e7e7;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "cv11","salt","ss01","ss03",
    "cv01","cv02","cv03","cv04",
    "cv05", "cv06","cv09","cv10";
}

header {
    background: linear-gradient(to bottom, #9b959c, transparent);
    color: #3d1d3d;
    padding: 40px;
    height: 350px;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    margin-left: 190px;
    transition: background-color 0.3s;
}

header h1 {
    margin: 40px 0;
    padding: 0;
}

header p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.centered-text {
    text-align: center;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.typing-text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: typing 5s steps(50) infinite;
    margin: 0 auto;
    padding: 30px;
}

nav {
    background-color: #716075;
    color: #fff;
    width: 190px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    box-shadow: 6px 0 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    height: calc(100% - 0px);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 5px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    border-radius: 20px;
    background-color: #3c2e3d;
}

nav a {
    scroll-behavior: smooth;
}

.card-body {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card {
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

section {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-left: 300px;
    margin-right: 90px;
    margin-bottom: 40px;
    transition: box-shadow 0.3s ease;
}

section:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2);
}

#meuSVG {
    cursor: pointer;
    transition: all 0.3s ease;
}

#meuSVG:hover {
    stroke: #221722;
    fill: #221722; 
}

h6 {
    font-weight: bold;
}

.center-icon {
    display: flex;
    justify-content: center;
}

.icon-container .icon {
    display: inline;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.icon-container .icon:hover {
    transform: scale(1.2);
}

#contato {
    margin-bottom: 20px;
    margin-bottom: 100px;
}

footer {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    padding: 10px 0;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.164); 
}

footer p {
    font-weight: bold;
    font-size: 16px;
}

.footer-left {
    flex-grow: 1; 
    margin-left: 100px;
}

.footer-right {
    flex-grow: 1; 
    margin-left: 100px; 
}

.footer-bg {
    background-image: url('img/bg.png');
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.profile img {
    max-width: 100%;
    height: auto;
    border-radius: 70%;
    border: none;
    padding: 25px;
}

.custom-btn {
    width: 170px;
    height: 40px;
    color: #413d40;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-6 {
    background: rgb(226, 222, 224);
    background: radial-gradient(circle, rgb(226, 222, 224) 0%, rgb(113, 96, 117) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}
.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}
.btn-6:hover{
    background: transparent;
    color: #635f64;
    box-shadow: none;
}
.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}
.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}
.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
}
.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}
.btn-6 span:hover:before {
    width: 100%;
}
.btn-6 span:hover:after {
    width: 100%;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    color: #413d40;
    border-radius: 7px;
    font-family: 'Jura', sans-serif;
    cursor: pointer;
    transition: opacity 0.2s;
    max-width: fit-content;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

#scrollToTopBtn.show {
    opacity: 1; 
}

#scrollToTopBtn:hover {
    background-color: #c8c8c9;
}

.push {
    height: 100px;
}

@media (min-width: 769px) {
    /* Exibir a imagem do perfil */
    .profile-img {
        display: block;
    }
}

@media (max-width: 768px) {
    /* Estilos para o menu no topo */
    #meuNav {
        position: fixed;
        width: 100vw;
        top: 0;
        left: 0;
        background-color: #716075;
        max-height: 7vh;
        overflow-y: auto;
        z-index: 100;
    }

    #meuNav ul {
        display: flex;
        justify-content: space-between;
        padding: 6px;
    }

    #meuNav ul li {
        list-style: none;
    }

    #meuNav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 11px;
    }

    .profile-img {
        display: none;
    }

    #scrollToTopBtn {
        display: none;
    }
}